.form-row {
    width: 50vw;
    display: flex;
    justify-content: space-between;
}

.form-row > label {
    width: 50%;
}

.form-row > input { 
    width: 50%;
    text-align: left;
}

.submit {
    width: 50vw;
    margin-top: 50px;
    text-align: right;
}